body {
  font-family: 'Helvetica', sans-serif;
  // max-height: 100vh;
  // overflow: hidden;
}
h1 {
    font-size: 30px;
    color:green;
    font-weight: 100;
}

.animated-intro {
  display: block;
  line-height: 30px;
  font-size: 28px;
  .element {
      display: inline;
      color: black;
  }
  .typed-cursor {
    display: inline;
  }
}

.details {
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  opacity: 1;
  background: #fff;
  animation: FadeIn 0.3s ease-in-out;
}

.hidden {
  display: none;
}

@keyframes FadeIn {
  from {
    bottom: -100vh;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}